@font-face {
  font-family: OpenSans;
  src: url(../sources/fonts/OpenSans-Regular.ttf);
  
  font-weight: 400;
}

@font-face {
  font-family: OpenSans;
  src: url(../sources/fonts/OpenSans-Bold.ttf);
  
  font-weight: 700;
}



body {
  margin: 0;
  padding: 0;
  
  font-family: OpenSans;
}

.popup_layer {
  position: fixed;

  z-index: 2;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display:  flex;
  justify-content: center;
  align-items:  center;
  display: none;
}

.popup_layer::before {
  content: "";
  background-color: #000000;
  opacity: 0.5;
  
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
}

.popup {
  position: relative;
  z-index: 2;
  background-color: #ffffff;

  padding: 40px 15px;

  max-width: 390px;
  display: none;
}

.popup_title {
  margin-block-start: 0;
}

.popup_form {
  display: flex;
  flex-direction: column;
  
}

.popup_title::after {
  content: "";
  display: block;
  width: 50px;
  height: 1px;
  background-color: #b59f5b; 
  
  margin: 10px auto 0; 
}

.popup_label:nth-child(n + 2) {
  margin-top: 30px;

}

.popup_select_label {
  display:  flex;
  flex-direction:  column;
}

.popup_select {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;

  
  height: 50px;

  background-image: url(../sources/svg/form-arrows.svg);
  background-size: auto 30%;
  background-repeat: no-repeat;
  background-position: 93% center;

  padding-left: 10px;
  margin-top: 10px;

  border: none;
  background-color: #f0ecec;
}

.second_popup_label_wrapper {
  display:  flex;
  align-items: center;
}

.radio_check_label_group:nth-child(n + 2) {
  margin-left: 10px;
}


.popup_radio_check {
  display:  inline-block;
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  width: 1px;
  height: 1px;

}


.radio_check_text::before {
  content: "";
  display: inline-block;
  margin-right: 8px;
  width: 20px;
  height: 20px;
  
  background-image: url(../sources/svg/form-empty-circle.svg);
  background-repeat: no-repeat;
  background-size:  cover;
  background-position: center center;

  vertical-align: middle;


}

.popup_radio_check:checked ~ .radio_check_text::before {
  background-image: url(../sources/svg/form-circle.svg);

}

.popup_textarea_label {
  display: flex;
  flex-direction: column;
}

.popup_textarea {
  background-color: #f0ecec;
  border: none;

  min-height: 135px;
  resize: none;

  padding: 10px;
  margin-top: 5px;
}



.popup_button {
  margin: 0;
  margin-top: 15px;
  
  height: 49px;
  border: 0;
  
  background-color: #b59f5b;
  
  color: #ffffff;
  font-size: 0.9rem;
  
  padding: 0;

  cursor: pointer;

}


.popup_button_text {
  text-transform: uppercase;
}




.header {
  position: relative;
  background-image: url(../sources/img/banner-bg.jpg);
  
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000000;
  background-position: center;
  
  padding: 30px 0;
}

.header::before {
  content: "";
  background-color: #000000;
  opacity: 0.5;
  
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.wrapper_header {
  position: relative;
  
  max-width: 1200px;
  padding: 0 15px;
  margin: auto;
  
  z-index: 1;
}



.logo_menu_container {
  display: flex;
  
  justify-content: space-between;
  align-items: center;
}


.menu_list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.list_item {
  list-style-type: none;
}

.list_item:nth-child(n + 2) {
  margin-left: 33px;
}

.logo {
  width: 184px;
  height: 44px;
}

.link {
  text-decoration: none;
  color: #ffffff;
}


.title {
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  font-size: 46px;
  
  margin: auto;
  padding: 120px 0;
  
  max-width: 800px;
}





.content {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
}

.trends {
  display:  flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 60px;
}

.trends_text::after {
  content: "";
  display: block;
  width: 50px;
  height: 1px;
  background-color: #b59f5b; 
  
  margin: 10px auto 0; 
}

.trend_cards {
  display:  flex;
}

.trend_card {
  position: relative;

  display:  flex;
  flex-direction: column;
  justify-content: flex-end;
}

.trend_card::before {
  content: "";
  background-color: #000000;
  opacity: 0.5;
  
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.trend_card:nth-child(n + 2) {
  margin-left: 2px;
}

.trend1 {
  background-image: url(../sources/img/trend1.jpg);
  background-size: cover;

  width:  25vw;
  height:  20vw;
}

.trend2 {
  background-image: url(../sources/img/trend2.jpg);
  background-size: cover;

  width:  25vw;
  height:  20vw;
}

.trend3 {
  background-image: url(../sources/img/trend3.jpg);
  background-size: cover;

  width:  25vw;
  height:  20vw;
}

.trend4 {
  background-image: url(../sources/img/trend4.jpg);
  background-size: cover;

  width:  25vw;
  height:  20vw;
}

.trend_card_content {
  z-index: 1;

  border: 1px solid #b59f5b;
  margin:  15px;
  padding: 20px 10px;
}

.trend_text {
  display:  block;

  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
  margin:  0;
  margin-top:  15px;
}



.main_wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 15px;
  margin: auto;
}

.main {
  max-width: calc(100% - 272px);
}

.article_common {
  display: flex;
}

.article_common:nth-child(n + 2) {
  margin-top: 55px;
}

.main_article_picture {
  max-width:  100%;
}

.article_text_container {
  margin-left: 30px;
}

.tag_list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  
  list-style-type: none;
}

.tag_list_item:nth-child(n + 2){
  margin-left: 19px;
}

.tag {
  color: #b59f5b;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  
  font-size: 14px;
}

h2 {
  margin-block-start: 1px;
  max-width: 400px;
}

.article_title {
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.article_title:hover {
  color: #b59f5b;
}

.time {
  color: #888888;
  font-size: 10px;
}

.author {
  font-weight: bold;
  font-size: 12px;
  margin-left: 16px;
}

.article_text {
  margin-top: 55px;
  max-width: 367px;
}

.paragraph_text {
  font-size: 15px;
}

.paragraph_text:nth-child(n + 2) {
  margin-top: 5px;
}





.aside {
  max-width: 272px;
}

.aside_container:nth-child(n + 2) {
  margin-top: 50px;
}


h3 {
  font-size: 14px;
  text-transform: uppercase;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aside_title_1::after {
  content: "";
  display: block;
  width: 50px;
  height: 1px;
  background-color: #b59f5b; 
  
  margin: 10px auto 0;
}

.new_posts {
  display: flex;
  flex-direction: column;
  
}


.post {
  display: flex;
  align-content: center;
}

.post:nth-child(n + 2) {
  margin-top: 20px;
}

.post_text {
  margin-left: 10px;
  
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.title_inside_post {
  margin-block-start: 0;
  margin-block-end: 0;
}

.title_link_inside_post {
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.title_link_inside_post:hover {
  color: #b59f5b;
} 

.form_container_1 {
  margin-top: 60px;
  max-width: 250px;
}

.form_search{
  width: 272px;
  display: flex;
  
}

.search_field {
  height: 49px;
  width: 223px;
  margin: 0;
  padding: 0;
  padding-left: 12px;
  border: none;
  box-sizing: border-box;
  
  background-color: #f0ecec;
}

.button_search {
  margin: 0;
  width: 49px;
  height: 49px;
  border: 0;
  
  background-color: #b59f5b;
  background-image: url(../sources/svg/search.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15px;
  
  padding: 0;

  cursor: pointer;
}








.aside_title_2::after {
  content: "";
  display: block;
  width: 50px;
  height: 1px;
  background-color: #b59f5b; 
  
  margin: 10px auto 0; 
}

.mailing_form_container {
  display: flex;
  flex-direction: column;
}

.mailing_field {
  box-sizing: border-box;
  height: 49px;
  width: 272px;
  margin: 0;
  padding: 0;
  padding-left: 12px;
  
  border: 0;
  
  background-color: #f0ecec;
}

.mailing_button {
  margin: 0;
  margin-top: 15px;
  
  height: 49px;
  border: 0;
  
  background-color: #b59f5b;
  
  color: #ffffff;
  font-size: 0.9rem;
  
  padding: 0;

  cursor: pointer;

}


.mailing_button_text {
  text-transform: uppercase;
}






.aside_title_3::after {
  content: "";
  display: block;
  width: 50px;
  height: 1px;
  background-color: #b59f5b; 
  
  margin: 10px auto 0; 
}


.tags_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  margin: 0;
  padding: 0;
}

.tags_list_item {
  list-style-type: none;
  margin-right: 10px;
  margin-top: 10px;
}


.tags_list_item_link {
  display: block;
  padding: 4px 10px;
  border: 1px solid #f0ecec;
  
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
}

.tags_list_item_link:hover {
  color: #b59f5b;
}




.aside_title_4::after {
  content: "";
  display: block;
  width: 50px;
  height: 1px;
  background-color: #b59f5b; 
  
  margin: 10px auto 0; 
}

.topics_list {
  margin: 0;
  padding: 0;
  
  width: 250px;
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
}



.topics_list_item {
  list-style-type: none;
  
  
}


.topics_list_link {
  display: block;
  border-bottom: 1px solid #f0ecec;
  padding-bottom: 10px;
  padding-top: 10px;
  
  text-decoration: none;
  color: #000000;
  font-weight: 700;
  font-size: 14px;
}

.topics_list_link:hover {
  color: #b59f5b;
}

.vertical_aligns_nums {
  font-size: 10px;
  vertical-align: super;
  color: #b59f5b;
}



.products {
  width:  100%;

  padding:  0 15px;
  margin-top: 60px;
}

.products_title:after {
  content: "";
  display: block;
  width: 50px;
  height: 1px;
  background-color: #b59f5b; 
  
  margin: 10px auto 0; 
}

.products_cards {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  margin-bottom:  70px;

  box-sizing: border-box;
}

.products_card {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.products_picture {
  max-width: 100%;
  margin-bottom: -20px;
}

.products_card_text {
  padding: 30px 0;

  outline: 1px solid #b59f5b;
  outline-offset: 20px;

  display: flex;
  flex-direction: column;
  flex-grow: 1;
}


.item_title {
  font-size: 1.1rem;
  text-transform: uppercase;
  margin: 10px 0 5px;
}

.item_text {
  margin-block-start:  0;
}


.item_link {
  text-decoration: none;
  color: #b59f5b;
  cursor: pointer;
}

.products_card_price_and_button {
  display:  flex;
  justify-content: space-between;
  align-items:  flex-end;

}

.products_card_price {
  display: flex;
  flex-direction: column;

  font-weight: bold;
}

.crossed_item_price {
  text-decoration: line-through;
  font-size: 0.8rem;
}

.item_price {
  font-size: 1.2rem;
}

.products_card_button {
  margin: 0;
  
  
  height: 49px;
  border: 0;
  
  background-color: #b59f5b;
  
  color: #ffffff;
  font-size: 0.9rem;
  
  padding: 0 30px;

  cursor: pointer;

}


.card_button_text {
  text-transform: uppercase;
}




.footer {
  width: 100%;
  margin-top: 30px;
}

.footer_wrapper {
  margin: auto;
  padding: 0 15px;
}

.address {
  
  padding: 30px 0;
  background-color: #f0ecec;
}

.social_links_list {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.social_links_list_item {
  list-style-type: none;
  padding: 0;
}

.social_links_list_item:nth-child(n + 2) {
  margin-left: 20px;
}

.hidden {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.social_link {
   display: block;
  height: 25px;
  width: 25px;
}

.social_link_twitter {
  background-image: url(../sources/svg/004-twitter.svg);
 
}

.social_link_pinterest {
  
  background-image: url(../sources/svg/001-pinterest.svg);
 
}

.social_link_facebook {
  
  background-image: url(../sources/svg/002-facebook-logo.svg);
 background-size: 25px auto;
}

.social_link_instagram {
  
  background-image: url(../sources/svg/005-instagram.svg);
 
}

.social_link_tumblr {
  
  background-image: url(../sources/svg/003-tumblr.svg);
 
}

.copyright_container {
  display: flex;
  justify-content: center;
  align-content: flex-end;
  padding-top: 40px;
}

.copyright_link {
  text-decoration: none;
  color: #bfb5b5;
  font-size: 0.7em;
}



